{% extends "base-main.html" %}


{% block main-content %}
<div class="flex flex-col justify-around p-5">


    <div class="card card-info">
        <div class="card-header">
            Compare Plans
        </div>
        <div class="card-body">

            <br />
            <table class="table text-nowrap rounded shadow">
                <tr class="bg-blue-500">
                    <th class="bg-blue-500 text-white">
                        Paramters
                    </th>
                    <th class="bg-blue-500 text-white">
                        Plan |
                    </th>
                    <th class="bg-blue-500 text-white">
                        Plan ||
                    </th>
                </tr>
                <tr>
                    <td>Plan Name
                    </td>
                    <td>Nov2Plan_1</td>
                    <td>Nov2Plan_2</td>
                </tr>
                <tr>
                    <td>Total overtime (in hrs)
                    </td>
                    <td>
                        <h4><span class="badge bg-primary p-2">11.55</span></h4>
                    </td>
                    <td>
                        <h4><span class="badge bg-primary p-2">12.6</span></h4>
                    </td>
                </tr>
                <tr>
                    <td>Total number of associates
                    </td>
                    <td>
                        <h4><span class="badge bg-success p-2">124</span></h4>
                    </td>
                    <td>
                        <h4><span class="badge bg-success p-2">200</span></h4>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <a href="#" role="button" class="btn btn-sm btn-danger">
                            Compare Charts</a>

                    </td>
                </tr>
            </table>
        </div>
    </div>
    {% endblock %}